cloudpickle
mcp>=1.24.0, <=2.2.0
fastapi
uvicorn
pydantic
google-cloud-aiplatform[agent_engines]
google-genai
google-auth
google-cloud-iamconnectorcredentials
google-adk>=2.9.2
google-cloud-agentidentitycredentials
a2a-sdk
google-adk[a2a]
httpx
httpx2
opentelemetry-instrumentation-google-genai
opentelemetry-instrumentation-httpx
opentelemetry-instrumentation-grpc